################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Work/FileContentIndex/1b0e8284-5abd-419a-bec0-6ca7980d890b.vsidx
/.vs/Work/FileContentIndex
